[Unit]
Description=can service
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "ip link set can0 up type can bitrate 500000"
PrivateTmp=true

[Install]
WantedBy=multi-user.target
