[Unit]
Description=can service for agilex
After=network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "ip link set can0 up type can bitrate 500000"
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
